.base {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 720px) {
  .base {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1080px) {
  .base {
    grid-template-columns: repeat(3, 1fr);
  }
}
